.find__cog-dot {
  position: absolute;
  right: -10px;
  top: 32px;
}

.add-friends-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
}
.add-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.add-method h4 {
  margin-top: 15px;
}
#id-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 3px solid black;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.find-tab {
  padding: 15px var(--horizontal-space);
  color: var(--light-font-color);
}
.find-tab__top-bar {
  border-top: var(--border-light);
  display: flex;
  justify-content: space-between;
}
.find-tab__top-bar h6 {
  margin: 20px 0px;
}
.find-tab__recommended-friends {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}
