.friends-display-option {
  padding: 15px;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.15);
}
.friends-display-option i {
  margin: 0px 10px;
  color: rgba(200, 200, 200, 0.9);
}
.friends__me-tab {
  margin: 0px var(--horizontal-space);
  padding-bottom: 15px;
  border-bottom: var(--border-light);
}
.friends__channel-tab {
  padding: 15px var(--horizontal-space);
}
.friends__fold-tab {
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--light-font-color);
  font-weight: 600;
  font-size: 0.85rem;
}
